.ant-card .ant-card-body {
  padding: 10px 24px !important;
  border-radius: 0 0 8px 8px;
}
.agent-card-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 24px;
  box-shadow: 0px 5px 10px 0 rgba(196, 203, 214, 0.1);
  padding: 0;
  margin: 0 0 10px;
  cursor: pointer;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  span,
  div,
  ul {
    display: inline-block;
    vertical-align: middle;
  }
  .agent-img {
    width: 74px;
    height: 74px;
    border: 100%;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
  }
  .name-wrapper {
    margin-right: 50px;
    width: 150px;
    .details {
      display: inline-block;
      vertical-align: middle;
      .name-title {
        color: #0a1629;
        font-size: 16px;
        font-weight: bold;
        display: block;
      }
      .status {
        color: #91929e;
        font-weight: normal;
        font-size: 12px;
        .status-number {
          background-color: #f15522;
          width: 30px;
          height: 18px;
          font-size: 10px;
          font-weight: 400;
          color: #fff;
          border-radius: 16px;
          display: inline-block;
          vertical-align: middle;
          text-align: center;
        }
      }
    }
  }
  .title {
    margin: 0;
    color: #91929e;
    font-size: 14px;
  }
  .status-list {
    display: inline-block;
    vertical-align: middle;
    li {
      background-color: #f4f9fd;
      border-radius: 24px;
      margin-right: 15px;
      font-size: 14px;
      height: 71px;
      width: 71px;
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      padding: 10px;
      .title {
        color: #91929e;
      }
      .number {
        color: #0a1629;
        font-weight: 400;
      }
    }
  }
  .divider {
    width: 1px;
    height: 71px;
    background-color: #e4e6e8;
    margin: 0 40px;
    display: inline-block;
    vertical-align: middle;
  }
  .revenue {
    .rev-title {
      color: #0a1629;
      font-size: 14px;
      font-weight: 400;
      display: flex;
      flex-direction: row;
      align-items: center;
      .subtitle {
        margin-left: 5px;
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
  .team-lead {
    .person-rank {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0 0 0 10px;
      background-color: #f3f3f3;
      border-radius: 16px;
      padding: 0 10px 0 0;
      position: relative;
      height: 35px;
      .prem-user {
        width: 30px;
        height: 30px;
        border-radius: 100%;
      }
      .crown {
        position: absolute;
        left: 15px;
        top: 0;
      }
    }
  }
  .agents-title {
    order: 1;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
  }
  .agents {
    flex: 1;
    .agent-avatars {
      order: 2;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 5px;

      .agent-avatar {
        margin-right: -10px;
        border: 2px solid white;
      }

      .additional-count {
        background-color: #fa541c;
        color: white;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        margin-left: 5px;
      }
    }
  }
  .more-btn {
    border: 0;
    background-color: transparent;
    box-shadow: none;
    display: inline-block;
    vertical-align: middle;
  }
  .more-dropdown {
    border: 1px solid #f48035;
  }
}
