.assign-lead-modal {
  width: 50% !important;
  .ant-modal-body {
    padding: 3px 24px 30px 24px !important;
    .content {
      display: flex;
      flex-direction: column;
      justify-content: start;
      border-radius: 10px;
      border: 1px solid #d8e0f0;
      width: 100%;
      margin-inline: auto;
      max-width: 600px;
      box-shadow: drop-shadow(0px 1px 2px rgba(184, 200, 224, 0.22));
    }
    .modal-team-card {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding-inline: 30px;
      height: 50px;
      border-bottom: 1px solid #d8e0f0;
      &:hover {
        background-color: #e3e3e3;
      }
    }
    .assign-me {
      display: flex;
      flex-direction: column;
      justify-content: start;
      border-radius: 10px;
      border: 1px solid #d8e0f0;
      width: 100%;
      margin-inline: auto;
      max-width: 600px;
      box-shadow: drop-shadow(0px 1px 2px rgba(184, 200, 224, 0.22));
    }
    .team-name {
      display: flex;
      flex-basis: 60%;
      font-size: 20px;
      font-weight: 600;
    }
    .team-members {
      display: flex;
      flex-basis: 40%;
      flex-direction: column;
      justify-content: start;
      gap: 10px;
    }
    .team-member-name {
      margin-left: 5px;
    }
    .assign-me-text {
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.22px;
    }
    .assign-me-checkbox {
      padding: 10px;
    }
    .assign-modal-heading {
      color: #f48035;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.22px;
      display: block;
      text-align: center;
    }
    .search-team-input {
      height: 45px;
      border: none !important;
      border-bottom: 1px solid #d8e0f0 !important;
    }
    .save-btn-container {
      align-self: center;
    }
    .save-btn {
      all: unset;
      width: 158px;
      height: 48px;
      border-radius: 14px;
      background-color: #f48035;
      box-shadow: 0px 6px 12px 0px rgba(63, 140, 255, 0.26);
      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      cursor: pointer;
      text-align: center;
      &:hover {
        border-radius: 14px;
        background-color: darken(#f48035, 10%);
        box-shadow: 0px 6px 12px 0px rgba(63, 140, 255, 0.26);
        color: #fff;
      }
    }
  }
}
