.mg-dashboard-first-row {
  display: flex;
  gap: 12px;
}
.overall-stats {
  width: calc(50% - 20px);
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  .w-100{
    width: 100%;
    display: flex;
    gap: 12px;
  }
  .mt-12{
    margin-top: 12px;
  }
}
.overall-tables {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10px;
  width: 50%;
  flex-flow: row wrap;
}
.main-stat-card {
  width: 100%;
  height: 170px;
}
.side-bar {
  background: #f48035;
}
.table-card {
  width: 33%;
  height: 362px;
}
.mg-dashboard-second-row {
  display: flex;
  gap: 14px;
  .forecast {
    width: 71%;
    height: 400px;
  }
  .stat-cards-wrapper {
    width: 29%;
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    margin-top: 14px;
    .other-stat-card{
      width: calc(50% - 8px);
      height: 198px;
    }
  }
}
.objective-chart-wrapper{
  width: 33%;
  height: 362px;
}
