.mg-dashboard-first-row {
  display: flex;
  gap: 12px;
}
.overall-stats {
  width: calc(50% - 20px);
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  gap: 20px;
}
.overall-tables {
  width: calc(50% - 20px);
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10px;
  width: 50%;
  flex-flow: row wrap;
}
.main-stat-card {
  width: 48%;
  height: 174px;
}
.side-bar {
  background: #f48035;
}
.table-card {
  width: 33%;
  height: 362px;
}
