.objective-chart {
  width: 100%;
  height: inherit;
  .container {
    width: inherit;
    height: inherit;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    text-align: center;
  }

  .header {
    all: unset;
    text-align: left;
    color: #ff6600;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
  }

  .select {
    width: 150px;
    margin-bottom: 20px;
  }

  .chartContainer {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-top: 12px;
  }

  .chart {
    position: absolute;
    top: 0;
    left: 0;
  }

  .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #ff6600;
  }

  .valueContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 24px;
    color: #ff6600;
  }

  .currencyIcon {
    margin-right: 5px;
  }
  .total {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    margin-top: 10px;
    color: #f15522;
  }
  .tabs-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    .tabs-content {
      width: 192px;
      height: 30px;
      border-radius: 50px;
      border: 1px solid #ff6600;
      display: flex;
      .budget {
        display: block;
        padding-top: 6px;
        width: 95px;
        height: 28px;
        border-radius: 50px 0px 0px 50px;
        font-family: Poppins;
        font-size: 13px;
        font-weight: 600;
        text-align: center;
        color: #f15522;
      }
      .quantity {
        padding-top: 6px;
        display: block;
        width: 95px;
        height: 28px;
        border-radius: 0px 50px 50px 0px;
        font-family: Poppins;
        font-size: 13px;
        font-weight: 600;
        text-align: center;
        color: #f15522;
      }
      .active-item {
        background: #0a1629;
      }
    }
  }
}
