@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mg-das-wrapper {
  min-height: 100vh;
  .side-bar {
    background: #f48035;
    .ant-layout-sider-children {
      margin-top: 21px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
    }
    .side-icon-styles{
      background: black;
      padding: 10px;
      border-radius: 10px;
    }
    .p-15{
      padding: 15px;
    }
    .p-17{
      padding: 17px;
    }
  }
  .platform-name {
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px; /* 50% */
    padding: 12px;
  }
}
