:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: unset !important;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.mg-das-wrapper {
  min-height: 100vh;
  .side-bar {
    background: #f48035;
    .ant-layout-sider-children {
      margin-top: 21px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
    }
    .side-icon-styles {
      background: black;
      padding: 10px;
      border-radius: 10px;
    }
    .collapse-icon {
      position: absolute;
      bottom: 30px;
      left: 20px;
      cursor: pointer;
    }
    .p-15 {
      padding: 15px;
    }
    .p-17 {
      padding: 17px;
    }
  }
  .platform-name {
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px; /* 50% */
    padding: 12px;
  }
  .header-search {
    border-radius: 14px;
    background: #fff0e3;
    box-shadow: 0px 6px 58px 0px rgba(196, 203, 214, 0.1);
    width: 359px;
    height: 41px;
    flex-shrink: 0;
  }
  .header-right-side{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }
}
