.Analytics {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #f48035;
  margin: 10px;
}
.chartdata {
  width: 179px;
  height: 260px;
  top: 228px;
  left: 325px;
  gap: 0px;
  opacity: 0px;
  background: #fff0e3;
}

.new {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  color: #f15522;
}
