.sales-forecast {
	width: calc(75% - 20px);
	height: 414px;
	padding: 0px 25px;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0px 4px 4px 0px rgba(244, 128, 53, 0.25);
	.heading {
		color: #f15522;
		font-size: 20px;
		font-weight: 600;
		line-height: 30px;
		letter-spacing: -1px;
	}
}
